/*gallery*/

.gallery-page {
	margin-top: 5px;
}
.img-list,

.gallery-item {	
	display: inline-block;
	border: 1px solid #ccc; 
	padding: 5px; 
	width: 300; 
	
}
div.gallery-item:hover{
	border: 1px solid $777;
}

.img-column {
	display: flex;
	flex-direction: column-reverse;
}
.img-column a,
.gallery-column a {
	border-bottom: 0px;
}
.gallery-item {
	margin-bottom: 30px
	padding 
}
.gallery-item p {
	margin: 5px auto 10px;
	max-width: 50%;
	text-align: center;
	font-size: 15px;
	color: $black-deep;
	background: rgba(255,255,255,.3);
	border-radius: 7px;
	border: 1px solid $black-deep;
	box-shadow: 0 8px 20px -8px rgba(0,0,0,.3);
}
.posts-expand .post-body .gallery-column a img {
	height: 250px;
	width: 300px;
	object-fit: cover;
}

.photos-btn-wrap {
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 20px;
}
.photos-btn {
	font-size: 16px;
	color: #333;
	margin-bottom: -4px;
	padding: 5px 8px 3px;
}
.photos-btn.active {
	color: #08c;
	border: 1px solid #e5e5e5;
	border-bottom: 5px solid #fff;
}
@media (max-width: 767px){
	.gallery-item p {
		min-width: 75px;
		font-size: 13px;
	}
}